*{
  padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}

p {
	margin-top: 10px;
}

.last {
	margin-top: 15px;
}

.about {
	width: 100%;
	padding: 78px 0px;
}

.about img {
	height: auto;
	max-width: 420px;
}

.about-text {
	max-width: 550px;
}

.main {
	
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

@media screen and (max-width: 768px) {

	.main {
		display: block;
		
	}

	.about img {
		max-width: 100%;
		margin-bottom: 30px;
		
	}

	h1 {
		font-size: 25px;
	}

	p {
		font-size: 15px;
		
	}

	

}