
h2 {
	display: none;
}

p {
	margin-top: 20px;
}

.back-to-home {
	display: block;
}

.about {
	width: 100%;
	padding: 78px 0px;
	text-align: center;
}

.about img {
	height: auto;
	max-width: 420px;
}

.about-text {
	max-width: 550px;
}

.last {
	margin-top: 15px;
	margin-bottom: 40px;
}

.main {
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.about-btns {
	display: inline-block;
	text-align: center;
	font-size: 2rem;
	cursor: pointer;
	text-decoration: none;	
	padding: 0.25em 1em;
	border-radius: 0.25em;	
	margin: 20px 10px;	
}

.dance-btn {
	padding: 5px 8px;
}

.fitness-btn {
	padding: 5px 20px;
}

@media screen and (max-width: 768px) {

	.main {
		display: block;
	}

	.about img {
		max-width: 100%;
		margin-bottom: 30px;	
	}

	.about-btns {
		display: block;
		text-decoration: none;
		margin: 0 auto;	
		margin-bottom: 20px;
	}

	h1 {
		display: none;
	}

	h2 {
		display: block;
		text-align: center;
		margin-bottom: 20px;
		margin-top: -20px;
		padding-bottom: 20px;
	}

	p {
		font-size: 15px;	
	}

	

}