@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nothing+You+Could+Do&family=Oswald:wght@700&display=swap');


h1 {
    font-family: "Nothing You Could Do", Sans-serif;
    text-shadow: -3px 3px 0px rgb(8 8 8 / 69%);
    padding: 0 70px;
}



