:roots {
    --primary-color: #fff;
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary {
    background: linear-gradient(270deg,rgba(219,170,72,0),rgba(219,170,72,.8),rgba(219,170,72,.6));
    color: #c79226;
    border: 1px solid #e6c88c;
    border-width: 2px;
    transition: all 5s ease-in;
    
}

.btn--outline {
    background: linear-gradient(270deg,rgba(219,170,72,0),rgba(219,170,72,.8),rgba(219,170,72,.6));
    color: #c79226;
    padding: 8px 20px;
    border: 1px solid #e6c88c;
    transition: all 5s ease-in;
    border-width: 2px;
}

.btn--medium {
    padding:  8px 20px;
    font-size: 20px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

.btn--medium:hover, .btn--large:hover {
    background: #fff;
    color: #c79226;
    transition: all 5s ease-in;
}